{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Edit Review</h3>

<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s6 center-align">
                    <input id="genre" name="genre" type="text" value="{{ review.genre }}" minlength="3" maxlength="15" class="validate" required>
                    <label for="genre">Genre</label>
                </div>
                <div class="input-field col s6">
                    <input id="book_name" name="book_name" type="text" value="{{ review.book_name }}" minlength="3" maxlength="100" class="validate" required>
                    <label for="book_name">Book Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="author_name" type="text" name="author_name" value="{{ review.author_name }}" minlength="3" maxlength="15" class="validate" required>
                    <label for="author_name">Author</label>
                </div>
                <div class="input-field col s6">
                    <input id="image_link" type="url" name="image_link" value="{{ review.image_link }}" minlength="3" maxlength="200" class="validate" required>
                    <label for="image_link">Link to Book Cover</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="review" type="text" name="review" value="{{ review.review }}" minlength="3" maxlength="200" class="validate" required>
                    <label for="review">Reveiw</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light grey darken-3 col s12" type="submit">
                    Update
                  </button>
                    <a href="{{ url_for('reviews') }}"> <i class="fas fa-undo"></i>
                    </a>
            </div>
        </div>
    </form>
</div>

{% endblock %}