{% extends "base.html" %}
{% block content %}


    <h1>Reviews</h1>
<div class="container">
    <div class="row">
    <div class="col s12 m4">
        {% for review in reviews %}
      <div class="card">
        <div class="card-image">
          <img src="{{ review.image_link }}">
        </div>
        <div class="card-content">
            <span class="card-title">{{ review.book_name }}</span>
          <a href="{{ url_for('review_page', review_id=review._id) }}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="fas fa-link"></i></a>
          <p>{{ review.review }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
            

{% endblock %}